# Database Connection (MongoDB)
DATABASE_URL="mongodb+srv://<username>:<password>@cluster0.mongodb.net/vibecode?retryWrites=true&w=majority"

# NextAuth Configuration
AUTH_SECRET="change_me_to_a_random_32_character_secret"
NEXTAUTH_URL="http://localhost:3000"

# GitHub OAuth Provider
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

# Google OAuth Provider
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
